{% extends 'base.html' %}
{% load static %}


{% block content %}

{% include 'asidebar.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Bread Pack</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active"> Bread Pack</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> Bread Pack</h3>
                <a href="{% url 'add_bread' %}" class="btn btn-primary float-right pt-0 pb-0"> Add a Bread Pack</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Date</th>
                      <th>Pack</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in object_list  %}
                      <tr>
                        <td>{{obj.date}}</td>
                        <td>{{obj.package}}</td>
                        <td>{{obj.price}}</td>
                        <td class="text-center"> 
                          <a href="{% url 'update_bread' obj.id %}" class=" mr-3 pt-0 pb-0" title="make changes"><i class="fas fa-edit"></i></a> 
                          <a href="{% url 'delete_bread' obj.id %}" class="pt-0 pb-0 text-danger" title="Remove the Record."><i class="fas fa-trash"></i></a>
                        </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot class="bg-secondary">
                  <tr>
                    <th>Date</th>
                    <th>Pack</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content  %}